@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /*
    --cor-1: rgb(15, 15, 15);
    --cor-2: rgb(237, 255, 252);
    --cor-3: blueviolet;
    --cor-rp:rgb(102, 39, 160);
    --cor-hover-a: rgb(52, 45, 59);
    --cor-hover-b:rgb(180, 120, 236);
    */
    --cor-1: rgb(45, 67, 86);
    --cor-2: rgb(234, 178, 160);
    --cor-3: rgb(167, 111, 111);
    --cor-rp:rgb(67, 91, 102);
    --cor-hover-a: rgb(67, 91, 102);
    --cor-hover-b:rgb(234, 178, 160);
}
* {
    margin: 0;
    padding: 0;}
body {background-color: var(--cor-1);
    color:var(--cor-2);
    box-sizing: border-box;}
strong {color:var(--cor-3)}
.elementos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6% 23%;
    gap: 60px;
}

.sq1 {
    /*
    width: 600px;
    height: 650px;
    */
    width:50%
}
.sq2 {
    /*
    width: 420px;
    height: 650px;
    */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 7%;
}
.titulo {font-size: 2.68rem;
    font-family:'Krona One', sans-serif;
    margin-bottom: 2%;
    
}
.titulo2 {font-size: 2.68rem;
    font-family:'Krona One', sans-serif;
    margin-bottom: 2%;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--cor-3);   
}
.paragrafo {font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;}
.paragrafo2 {font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;}
.borda {
    border: 1px solid var(--cor-3);
    padding: 1px;
}
.links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.botao {
    width: 65%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    color:var(--cor-2);
    font-family: 'Krona One', sans-serif;
    padding: 15px;
    margin-top: 3%;
    text-decoration: none;
    border: 2px solid var(--cor-3);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.botao:hover {
    background-color:var(--cor-hover-a);
}
.photo {border: 2px solid var(--cor-3);
    padding: 8px;
    /*
    width: 285px;
    height: 379px;
    */
    width: 30%;
    border-radius: 5px;
    margin-bottom: 20%;
}
.photo2 {border: 2px solid var(--cor-3);
    padding: 8px;
    /*
    width: 285px;
    height: 379px;
    */
    width: 30%;
    border-radius: 5px;
    margin-bottom: 6%;
    margin-right: 15%;
}
.subtitulo {
    margin-bottom: 2%;
    margin-top: 4%;
    font-family:'Krona One', sans-serif;
    font-size: 1.5rem;
}
.rodape {
    padding: 1.3%;
    background-color:var(--cor-rp);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 400;
}
.cabe {
    padding:1.3%;
    border-bottom: 3px solid var(--cor-3);
    margin: 0% 5%;
    padding-left: 150px;
    font-family: "Montserrat", sans-serif; 
}
.navegacao {
    display: flex;
    font-size: 1.12rem;
    font-weight: 500;
    gap: 75px;
}
.navitem:hover {
    color: var(--cor-hover-b);
}
.navitem {
    text-decoration: none;
    color: aliceblue;
}

@media (max-width:1250px) {
    .cabe {
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 0%;
    }
    .navegacao {
        justify-content: center;
    }
    .elementos {
        flex-direction: column-reverse;
        padding: 6% 10%;
    }
    .photo {
        margin-bottom: 0%;
        width: 40%;
    }
    .photo2 {
        margin-right: 0%;
        width: 40%;
    }
    .rodape {
        padding: 3%;
    }
    .sq1{
        width: auto;
    }
    .sq2 {
        width: auto;
        margin-bottom: 0;
    }
}